Repository MediaComem/modos, pull requests merged in 2020-11, with the labels that each got.

#47 Update docker image for database to pgrouting + set DB port in .env
  packages/backend/.env.docker.sample
  packages/backend/.gitignore
  packages/backend/README.md
  packages/backend/docker-compose.yml
Labels: enhancement, package:backend

#53 Frontend/resolve issue 42 50 51
  packages/modos-static-site/components/map-app/ModosMap.tsx
  packages/modos-static-site/components/map-app/ObservationInfoPanel.tsx
  packages/modos-static-site/components/map-app/map.module.scss
Labels: Low importance, bug, enhancement, package:website

#56 Mobile app/improve app geoloc
  packages/mobile-app/package.json
  packages/mobile-app/src/app/contribution/obstacle-summary/obstacle-summary.page.ts
Labels: Medium importance, enhancement, package:mobile-app

#54 Improve setup & require modos schema
  .editorconfig
  packages/backend/.editorconfig
  packages/backend/.env.sample
  packages/backend/README.md
  packages/backend/docker-compose.yml
  packages/backend/docker.env.sample
  packages/backend/docker/init-db.sh
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/config/config.ts
  packages/backend/src/entity/Event.ts
  packages/backend/src/entity/Image.ts
  packages/backend/src/entity/Location.ts
  packages/backend/src/entity/Observation.ts
  packages/backend/src/entity/Profile.ts
  packages/backend/src/entity/User.ts
  packages/backend/src/migration/1593764167707-InitialSchema.ts
  packages/backend/src/migration/1593764167708-initExtensions.ts
  packages/backend/src/migration/1593764167709-alterTables.ts
  packages/backend/src/migration/1603879411988-initDomains.ts
  packages/backend/src/migration/1603887777590-initSpatialRel.ts
  packages/backend/src/migration/1603887777592-alterTables.ts
  packages/backend/src/migration/1603889820064-initPlosCat.ts
  packages/backend/src/migration/1603890732951-initRoutes.ts
  packages/backend/src/migration/1603890987710-initImages.ts
  packages/backend/src/migration/1603896257707-preprocess.ts
  packages/backend/src/migration/1603965250007-initRouting.ts
  packages/backend/src/migration/1603969816824-initSnapping.ts
  packages/backend/src/ormconfig.ts
  packages/mobile-app/.editorconfig
Labels: High importance, enhancement, package:backend

#68 Add refresh view to readme
  packages/backend/README.md
Labels: documentation, enhancement, package:backend
