Repository MediaComem/modos, pull requests merged in 2020-12, with the labels that each got.

#66 Fix bcrypt error
  packages/backend/src/config/config.ts
Labels: High importance, bug, package:backend

#59 Fix migrations
  packages/backend/src/migration/1593764167709-alterTables.ts
  packages/backend/src/migration/1603887777590-initSpatialRel.ts
  packages/backend/src/migration/1603890732951-initRoutes.ts
  packages/backend/src/migration/1603890987710-initImages.ts
  packages/backend/src/migration/1603969816824-initSnapping.ts
  packages/backend/src/migration/1605695145000-posOnExistingData.ts
Labels: High importance, bug, enhancement, package:backend

#57 Adding the routing in the backend API
  packages/backend/README.md
  packages/backend/openapi.json
  packages/backend/src/controller/ItineraryController.ts
  packages/modos-static-site/components/map-app/MapNavbar.tsx
  packages/modos-static-site/components/map-app/MapnvAccessibilityLayer.tsx
  packages/modos-static-site/components/map-app/ModosMap.tsx
  packages/modos-static-site/components/map-app/NavLayerGroup.tsx
  packages/modos-static-site/pages/_app.tsx
Labels: High importance, enhancement, package:backend, package:website

#70 Adding Carto footpath layer and accessibility layer in the frontend website
  packages/backend/src/controller/ObservationsController.ts
  packages/modos-static-site/components/map-app/MapnvAccessibilityLayer.tsx
  packages/modos-static-site/components/map-app/ModosFootpathLayer.tsx
  packages/modos-static-site/components/map-app/ModosMap.tsx
  packages/modos-static-site/package-lock.json
  packages/modos-static-site/package.json
Labels: Low importance, enhancement, package:website

#73 Release 0.1.3 for Mobile App
  packages/mobile-app/.browserslistrc
  packages/mobile-app/android/app/build.gradle
  packages/mobile-app/android/app/src/main/AndroidManifest.xml
  packages/mobile-app/android/app/src/main/res/layout/activity_main.xml
  packages/mobile-app/android/build.gradle
  packages/mobile-app/android/gradle.properties
  packages/mobile-app/android/gradle/wrapper/gradle-wrapper.properties
  packages/mobile-app/angular.json
  packages/mobile-app/e2e/tsconfig.json
  packages/mobile-app/package.json
  packages/mobile-app/src/app/app-routing.module.ts
  packages/mobile-app/src/app/app.component.spec.ts
  packages/mobile-app/src/app/contribution/feedback/feedback.page.spec.ts
  packages/mobile-app/src/app/contribution/obstacle-summary/obstacle-summary.page.html
  packages/mobile-app/src/app/contribution/obstacle-summary/obstacle-summary.page.spec.ts
  packages/mobile-app/src/app/contribution/obstacle-summary/obstacle-summary.page.ts
  packages/mobile-app/src/app/contribution/select-obstacle/select-obstacle.page.spec.ts
  packages/mobile-app/src/app/contribution/set-global-position/set-global-position.page.html
  packages/mobile-app/src/app/contribution/set-global-position/set-global-position.page.spec.ts
  packages/mobile-app/src/app/contribution/set-global-position/set-global-position.page.ts
  packages/mobile-app/src/app/contribution/take-picture/take-picture.page.html
  packages/mobile-app/src/app/contribution/take-picture/take-picture.page.spec.ts
  packages/mobile-app/src/app/contribution/take-picture/take-picture.page.ts
  packages/mobile-app/src/app/custom-components/camera/camera.component.spec.ts
  packages/mobile-app/src/app/custom-components/location/location.component.spec.ts
  packages/mobile-app/src/app/custom-components/map-modal/map-modal.component.spec.ts
  packages/mobile-app/src/app/home/home.page.spec.ts
  packages/mobile-app/src/app/login/login.page.spec.ts
  packages/mobile-app/src/app/services/nav-params.service.ts
  packages/mobile-app/src/global.scss
  packages/mobile-app/tsconfig.app.json
  packages/mobile-app/tsconfig.json
  packages/mobile-app/tslint.json
Labels: Medium importance, bug, enhancement, package:mobile-app

#74 Frontend/add permalink and cluster
  packages/modos-static-site/.eslintrc.js
  packages/modos-static-site/components/map-app/ModosMap.tsx
  packages/modos-static-site/components/map-app/ObservationsLayerGroup.tsx
  packages/modos-static-site/components/map-app/map.module.scss
Labels: Medium importance, enhancement, package:website

#77 Backend > check maps party creation, update delete obs route, add geojson format
  packages/backend/openapi.json
  packages/backend/src/controller/EventController.ts
  packages/backend/src/controller/ObservationsController.ts
  packages/backend/src/entity/Event.ts
  packages/backend/src/entity/Observation.ts
  packages/backend/src/router/apis/eventRouter.ts
Labels: Medium importance, bug, enhancement, package:backend
